.dark-theme {
    color: blueviolet;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    height: 100vh;
    background: linear-gradient(
      to bottom,
      rgb(123, 209, 159),
      rgb(81, 184, 143),
      rgb(108, 144, 229),
      rgb(81, 65, 200),
      rgb(109, 34, 221),
      rgb(82, 19, 134),
      rgb(58, 12, 80)
    );
    background-attachment: fixed;
  }
  
  #dog-img-container {
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    font-weight: normal;
  }
  
  h3 {
    color: rgb(196, 105, 21);
  }
  
  h4 {
    order: -1;
    font-weight: normal;
  }
  
  button {
    border-radius: 4px;
    border-style: none;
    padding: 0.5em;
  }
  
  button:active {
    color: white;
    background-color: darkgray;
  }
  